*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::selection{
    background-color: black;
    color: white;
}
html,body {
    height: 100%;
    width: 100%;
    /* display: flex; */
    justify-content: center;
    background-color: #ffffff;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #F7F7F7;
}
#nav{
    /* height: 100px; */
    width: 100%;
    /* background-color: burlywood; */
    position: fixed;
    z-index: 99;
    padding: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;


}
#nav-part1{
    /* background-color: blueviolet; */
    height: 82px;
    overflow: hidden;
}
#nav-part1 svg{
    display: block;
}
#nav #navpart2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
}
#navpart2 #links a{
    text-decoration: none;
    color: black;
    columns: #333;
    font-weight: 400;
    font-size: 14px;
    margin: 20px;
}
#navpart2 #icons i{
    font-size: 18px;
    margin:0 20px;
    font-weight: 100;
}
#links{
    padding: 10px;
}
#icons{
    padding: 10px;
    border-radius: 50px;
    background-color: #F7F7F7;
}
#cursor{
    height: 150px;
    width: 150px;
    background-color: blanchedalmond;
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%,-50%) scale(0);

}

#page1{
    padding: 0 2vw;
    min-height: 100vh;
    width: 100vw;
    line-height: 13vw;
    padding-top: 20vh;
    position: relative;
    /* background-color: aqua; */
}

#page1 h1{
    line-height: 13vw;
    font-size: 15vw;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: -8px;
}
#video-container {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: black;
    margin-top: 1vw;
}
#video-container video {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding: 0 0vw;
}
#play {
    height: 10vw;
    width: 10vw;
    position: absolute;
    padding: vw;
    background-color: black;
    color: white;
    font-size: 2vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 50%;
    text-align: center;
    opacity: 0;
}

#page2{
    min-height: 100vh;
    width:100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 3vw 1vw;
    justify-content: space-between;
    gap: 2vw;
    margin-top: 2vh
}
.elem{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 1vw;
    position: relative;
}
.elem img{
    max-height: 100%;
    max-width: 100%;
    width: 31%;
    height: auto;
    width: auto;
    object-fit: contain;
    box-shadow: #333 0px 0px 20px;
}
.elem .dets{
    height: 60px ;
    border-radius: 50px;
    width: 80%;
    position: absolute;
    background-color: palegoldenrod;
    z-index: 9;
}
#page2 .elem .dets:hover{
    height: 200px;
}

#page3{
   min-height: 120vh;
    width: 100%;
    background-color: #F7F7F7;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.child{
    height: 54vh;
    width: 38vw;
    /* background-color: violet; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}
.child img{
    height: 100%;
}

@media(max-width:600px){
    #page1{
    min-height: 70vh;    
    width: 100vw;
    padding-top: 25vh;
    position: relative;
    /* background-color: aqua; */
}
    #page1 h1{
    line-height: 13vw;
    letter-spacing: -3px;
}
#video-container {
    position: relative;
    height: 30vh;
    margin-top: 3vw;
}
#play {
    width: 15vw;
    height: 15vw;
    font-size: 5vw;
}


#page2{
    min-height: 100vh;
    width:100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 5vw 3vw;
    justify-content: space-between;
    flex-direction: column;
    gap: 2vw;
    margin-top: 2vh;
    /* background-color: lightsalmon; */
}
.elem{
    height: auto;
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 1vw;
    margin-bottom: 3vw;
}
#page3{
   min-height: 120vh;
    width: 100%;
    background-color: #F7F7F7;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.child{
    height: 54vh;
    width: 88vw;
    /* background-color: violet; */
    position: relative;
    padding: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;

}
.child img{
    height: 100%;
}
#nav{
    /* height: 100px; */
    width: 100%;
    /* background-color: burlywood; */
    position: fixed;
    z-index: 99;
    padding: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;


}
#nav-part1{
    /* background-color: blueviolet; */
    height: 80px;
    overflow: hidden;
}
#nav-part1 svg{
    display: block;
    height: 65px;
    height: 80px;
}
#nav #twogoodlogo{
    height: 40px;
    margin-left: 1px;
}
#nav #navpart2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
#navpart2 #links a{
    text-decoration: none;
    color: black;
    columns: #333;
    font-weight: 400;
    font-size: 14px;
    margin: 20px;
}
#navpart2 #icons i{
    font-size: 18px;
    margin:0 20px;
    font-weight: 100;
}
#links{
    padding: 10px;
    display: none;
}
#icons{
    padding: 7px;
    border-radius: 50px;
    background-color: #F7F7F7;
}
}